*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: sans-serif;
    background-color: rgb(76, 75, 75);
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    width: 600px;
    gap: 15px;
    align-items: flex-start;
}

.task{
    margin: 0px 50px;
}

#task1{
    margin: 120px 50px 0px ;
}

p{
    line-height: 30px;
}